h1, h2, h3, h4, h5, h6 {
  font-family: 'Parisienne', cursive;
}

.hero__container {
  height: 90vh;
}

.hero__title {
  font-size: 5rem;
}


.navbar {
  i {
    padding-right: 1rem;
  }
}

.navbar__brand {
  font-family: 'Parisienne', cursive;
}


.rsvp__container {
  overflow: scroll;
  height: 90vh;
}